/* Estilos generales */

body {
  display: flex;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #000;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.container {
  text-align: center;
  flex: 1;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}



/* Estilos del encabezado */

header {
  background-color: #2b0202;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ff0000;
  /* Cambiar color en hover */
}

/* Estilos de la sección "Contacto" */

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  padding: 5px 0;
}

#contact h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #ffffff;
}

form {
  width: 100%;
  
  
  
}
#contact input,
#contact textarea {
  align-content: center;
  display: flex;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

.contact-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.contact-buttons a {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Estilos del pie de página */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  color: white;
  background-color: #ff0000;
  padding: 20px 0;
  text-align: center;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
  margin: 0 10px;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
}